{
  {% if include.context %}	
    "@context": {% include {{ include.context }} %},	
  {% endif %}	
  "@type": "BlogPosting",	
  "name": {{ include.post.title | jsonify }},	
  "headline": {{ include.post.title | jsonify }},	
  {% if include.post.subtitle %}	
    "alternativeHeadline":{{ include.post.subtitle | jsonify }},	
  {% endif %}	
  "datePublished": "{{ include.post.date | date_to_xmlschema }}",	
  "publisher": {	
    "@type": "Organization",	
    "name": "Biological and Chemical Oceanography Data Managemennt Office",	
    "url": "https://www.bco-dmo.org"	
  },
  "author": {% include schema.org/Person.html person=site.data.authors[include.post.author] %},	

  "url": "{{ site.url }}{{ include.post.url }}"	
}
