{
  {% if include.context %}
    {% include {{ include.context }} %}
  {% endif %}
  "@type": "Blog",
  "name": {{ include.blog.title | jsonify }},
  "headline": {{ include.blog.title | jsonify }},
  {% if include.blog.subtitle %}
  "alternativeHeadline":{{ include.blog.subtitle | jsonify }},
  {% endif %}
  {% if include.blog.description %}
    "description": {{ include.blog.description | jsonify }},
  {% endif %}
  {% if include.blog.keywords %}
    "keywords": [
    {% for keyword in include.blog.keywords %}
      {{ keyword | jsonify }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
    ],
  {% endif %}
  {% comment %}
    {% if site.posts %}
      "blogPost": [
      {% for post in site.posts %}
        {% include schema.org/BlogPosting.html post=post %}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
      ],
    {% endif %}
  {% endcomment %}
  "url": "{{ site.url }}{{ include.blog.url }}"
}
