{
  "@type": "Blog",
  "url": "{{ site.url }}{{ include.blog.url }}",
  "name": {{ include.blog.title | jsonify }},
  "headline": {{ include.blog.title | jsonify }},
  {% if include.blog.subtitle %}
  "alternativeHeadline":{{ include.blog.subtitle | jsonify }},
  {% endif %}
  {% if include.blog.description %}
    "description": {{ include.blog.description | jsonify }},
  {% endif %}
  {% if include.blog.keywords %}
    {% for keyword in include.blog.keywords %}
  "keywords": {{ keyword | jsonify }},
    {% endfor %}
  {% endif %}
  {% include schema.org/context.html %}
}
