---
layout: default
type: Blog
title: "What's new from BCO-DMO"
subtitle: "Democratizing access to ocean science data"
description: "Keeping you up to date with the latest happenings at the Biological and Chemical Oceanography Data Management Office (BCO-DMO)"
author: bcodmo
include_in_sitemap: true
sitemap: 
  change_frequency: monthly
  priority: 1
---
{% assign author = site.data.authors[page.author] %}
<nav class="level margin-bot-0">
  <div class="level-left">
    <div class="level-item">
      <h1 class="title is-1 is-primary padding-bot-1 margin-bot-0">{{ page.title }}</h1>
    </div>
  </div>
  <div class="level-right">
    {% if author.social.twitter.url %}
      <p class="level-item"><a href="{{ author.social.twitter.url}}" target="_blank" class="button icon-before"><i class="fa fa-twitter"></i></a></p>
    {% endif %}
    <p class="level-item"><a href="/atom.xml"><i class="fa fa-rss fa-3" style="font-size: 3em" aria-hidden="true"></i></a></p>
  </div>
</nav>

{% if page.subtitle %}
<h5 class="subtitle is-italic margin-top-1 margin-bot-0 padding-bot-0 ">{{ page.subtitle }}</h5>
{% endif %}
{% if site.posts %}
  {% include sub-nav.html active="all" %}
  {% include post-listing.html category="all" %}
{% endif %}
