---
layout: default
type: Blog
title: "What's new from BCO-DMO"
subtitle: "Democratizing access to ocean science data"
description: "Keeping you up to date with the latest happenings at the Biological and Chemical Oceanography Data Management Office (BCO-DMO)"
author: bcodmo
---

<h1 class="title is-1 is-primary padding-bot-1 margin-bot-2-important">{{ page.title }}</h1>
{% if page.subtitle %}
<h5 class="subtitle is-italic padding-bot-1">{{ page.subtitle }}</h5>
{% endif %}
{% if site.posts %}
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a>All</a></li>
      <li><a>News</a></li>
      <li><a>Data & Tools</a></li>
      <li><a>Insights</a></li>
      <li><a>Engineering</a></li>
    </ul>
  </div>
  <div class="columns">
  {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    {% if post.description %}
      {% assign callout = post.description %}
    {% elsif post.excerpt %}
      {% assign callout = post.excerpt %}
    {% else %}
      {% assign callout = null %}
    {% endif %}
      <div class="column is-6" data-index="{{ forloop.index }}">
        {% include post-card.html post=post callout=callout author=author %}
      </div>
    
    {% comment %} make 2 columns of post cards {% endcomment %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 and forloop.index > 1 %}
      </div>
      <div class="columns">
    {% endif %}
        
  {% endfor %}
    </div><!-- closes the last "columns" div -->
  </div>
{% endif %}
