---
layout: default
type: Blog
title: "What's new from BCO-DMO"
subtitle: "Democratizing access to ocean science data"
description: "Keeping you up to date with the latest happenings at the Biological and Chemical Oceanography Data Management Office (BCO-DMO)"
author: bcodmo
---

<h1 class="title is-1 is-primary padding-bot-1 margin-bot-2-important">{{ page.title }}</h1>
{% if page.subtitle %}
<h5 class="subtitle is-italic padding-bot-1">{{ page.subtitle }}</h5>
{% endif %}
{% if site.posts %}
  <div class="tabs is-centered">
    <ul>
      <li class="is-active"><a>All</a></li>
      <li><a href="/news/">News</a></li>
      <li><a href="/data-tools/">Data & Tools</a></li>
      <li><a href="/insights/">Insights</a></li>
      <li><a href="/engineering/">Engineering</a></li>
    </ul>
  </div>
  {% include post-listing.html category='all' %}
{% endif %}
