---
layout: default
type: ItemList
id: news
permalink: /news/
title: "News"
description: "Keeping you up to date with the latest news at the Biological and Chemical Oceanography Data Management Office (BCO-DMO)"
author: bcodmo
include_in_sitemap: true
sitemap: 
  change_frequency: monthly
  priority: 0.4
---

<h1 class="title is-1 is-primary padding-bot-1 margin-bot-0">{{ page.title }}</h1>
{% if site.posts %}
  {% include sub-nav.html active=page.id %}
  {% include post-listing.html category=page.id %}
{% endif %}
