{% assign multiple_authors = include.authors.size > 1 %}
{% assign author_names = "" %}
{% for author in include.authors %}
  {% if forloop.last %}
    {% if multiple_authors %}
      {% assign author_names = author_names | append: " and " | append: site.data.authors[author].name %}
    {% else %}
      {% assign author_names = author_names | append: site.data.authors[author].name %}
    {% endif %}
  {% else %}
    {% assign author_names = author_names | append: site.data.authors[author].name | append: ", " %}
  {% endif %}
{% endfor %}
{{ author_names }}
