{% assign alt_text = include.image.caption | default: "Image" %}
{% capture image_src %}{% include image_src.html image=include.image %}{% endcapture %}
{% capture img_tag %}<img src="{{ image_src }}" alt="{{ alt_text }}">{% endcapture %}
{% assign position = include.position | default: "right" %}
{% assign margin = "margin-left-1" %}
{% if position == "left" %}
  {% assign position = "left" %}
  {% assign margin = "margin-right-1" %}
{% else %}
  {% assign position = "right" %}
{% endif %}
<div class="card {{ margin }} {% if include.image.border %} border{% endif %}" style="float: {{ position }}">
  <div class="card-image">
    <figure class="image {% if include.image.dimension %} {{ include.image.dimension }}{% endif %}">
      {% if include.image.url %}
        <a href="{{ include.image.url }}" target="_blank">{{ img_tag }}</a>
      {% else %}
        {{ img_tag }}
      {% endif %}
    </figure>
  </div>
  {% if include.image.title or include.image.caption %}
    <div class="card-content">
      {% if include.image.title %}<h3 class="title">{{ image.title }}</h3>{% endif %}
      {% if include.image.caption %}<div class="content">{{ caption }}</div>{% endif %}
    </div>
  {% endif %}
</div>
