<div class="card">
  <div class="card-image">
    {% if include.post.callout.image.url %}
    <figure class="image is-4by3">
      {% if include.post.callout.image.caption %}
        {% assign caption = include.post.callout.image.caption %}
      {% else %}
        {% assign caption = include.post.title %}
      {% endif %}
      <img src="{{ include.post.callout.image.url }}" alt="{{ caption }}">
    </figure>
    {% endif %}
  </div>
  <div class="card-content">
    <nav class="level margin-bot-0">
        <div class="level-left"><p class="level-item">{{ include.post.date | date_to_string: "ordinal", "US" }}</p></div>
    </nav>
    <h3 class="title {% unless include.post.subtitle %} margin-bot-0{% endunless %}"><a href="{{ include.post.url }}" title="{{ include.post.title }}">{{ include.post.title }}</a></h3>
    {% if include.post.subtitle %}
    <p class="subtitle is-6 is-italic margin-bot-0">{{ include.post.subtitle }}</p>
    {% endif %}
    <p>by {% include author_names.html authors=include.post.author %}</p>
    {% if include.callout %}
    <div class="content margin-top-1">{{ include.callout }}</div>
    {% endif %}
    {% if show_category %}
      {% assign categories = site.pages | where:"id", include.post.category %}
      {% for category in categories %}{% assign category_label = category.title %}{% endfor %}
      <span class="tag is-primary">{{ category_label }}</span>
      {% include tag.html tag=category_label style="is-accent" %}
    {% endif %}
    
    {% if include.post.tags %}
      {% for tag in include.post.tags %}
        {% include tag.html tag=tag %}
      {% endfor %}
    {% endif %}
  </div>
</div>
