<div class="card">
  <div class="card-content">
    <div class="content">
      <p>{{ include.post.date | date_to_string }}</p>
      <p class="title is-4"><a href="{{ include.url }}" title="{{ include.post.title }}">{{ include.post.title }}</a></p>
      {% if include.post.subtitle %}
      <p class="subtitle is-6 is-italic margin-bot-0">{{ include.post.subtitle }}</p>
      {% endif %}
      <p class="subtitle is-6">by {{ include.author }}</p>
      {% if include.callout %}
        <p>{{ include.callout }}</p>
      {% endif %}
      {% if include.post.tags %}
        {% for tag in include.post.tags %}
          <span class="tag"><a href="/tag.html#{{ tag | slugify }}">{{ tag }}</a></span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div> 
