{% assign post = include.post %}
{% assign post_type = include.type %}
{% assign errors = [] %}
{% assign status = "Ready!" %}
{% assign post_id = post.id | slugify %}
<div id="{{ post_id }}">
  <span id="{{ post_id }}_status"></span><span class="is-size-7">&nbsp; [<a id="{{post_id}}_toggle">view report</a>]</span>
  <div id="{{ post_id }}_report" class="is-hidden">
    <table class="table is-hoverable is-bordered">
      <tbody>
        <tr>
          <th>Layout</th>
          {% if post.layout %}
            <td class="is-success">{{ post.layout }}</td>
          {% else %}
            <td class="is-danger is-italic">not specified</td>
            {{ errors | push: "Specify a layout: `layout: post`" }}
          {% endif %}
        </tr>
        <tr>
          <th>Schema.org Type</th>
          {% if post.type == "BlogPosting" %}
            <td class="is-success">{{ post.type }}</td>
          {% else %}
            <td class="is-danger is-italic">{{ post.type }}</td>
            {{ errors | push: "Specify a `BlogPosting` as the type: `type: BlogPosting`" }}
          {% endif %}
        </tr>
        <tr>
          <th>Category</th>
          {% if post.category %}
            {% assign categories = site.pages | where:"id", post.category %}
            {% if categories.size > 0 %}
              <td class="is-success">{{ post.category }}</td>
            {% else %}
              <td class="is-danger is-italic">{{ post.category }}</td>
              {{ errors | push: "Unknown category: {{ post.category }}. Select one from: `[news, data-tools, insights, engineering]`" }}
            {% endif %}
          {% else %}
            <td class="is-danger is-italic">not specified</td>
            {{ errors | push: "Specify a category: `category: one of [news, data-tools, insights, engineering]`" }}
          {% endif %}
        </tr>
        <tr>
          <th>Published</th>
          {% if post_type == "post" %}
            {% if post.published %}
              <td class="is-success">{{ post.published }}</td>
            {% else %}
              <td class="is-danger is-italic">{{ post.published }}</td>
              {{ errors | push: "Post is unpublished" }}
            {% endif %}
          {% else %}
            <td class="is-warning">
              {% if post.published %}
                When ready to publish, move to the `_posts` directory
              {% else %}
                Set `published: true` when ready to publish
              {% endif %}
            </td>
          {% endif %}
        </tr>
        <tr>
          <th>Filename</th>
          {% if post_type == "post" %}
            {% if post.path %}
              <td class="is-success">{{ post.path }}</td>
            {% else %}
              <td class="is-danger is-italic">{{ post.path }}</td>
              {{ errors | push: "Filename does follow the format `/YYYY/MM/DD/title`" }}
            {% endif %}
          {% else %}
              <td class="is-warning">{{ post.path }}</td>
              {{ errors | push: "Be sure to rename the post in the format: `/YYYY/MM/DD/title`" }}
          {% endif %}
        </tr>
        <tr>
          <th>Date</th>
          {% if post_type == "post" %}
            {% if post.date %}
              <td class="is-success">{{ post.date | date_to_string: "ordinal", "US" }}</td>
            {% else %}
              <td class="is-danger is-italic">{{ post.date }}</td>
              {{ errors | push: "Specify a date in nthe post: `date: YYYY-MM-DD`" }}
            {% endif %}
          {% else %}
            {% if post.date %}
              <td class="is-success">{{ post.date }}</td>
            {% else %}
              <td class="is-danger is-italic">{{ post.date }}</td>
              {{ errors | push: "Be sure to set: `date: YYYY-MM-DD` when ready to publish" }}
            {% endif %}
          {% endif %}
        </tr>
        <tr>
          <th>Author(s)</th>
          {% if post.author %}
            {% for author in post.author %}
              {% unless site.data.authors contains author %}
                {{ author_errors | push: "Unknown author: `{{ author }}`" }}
              {% endunless %}
            {% endfor %}
            {% if author_errors.size > 1 %}
              <td class="is-danger is-italic">Not all authors defined in `_data/authors.yaml`: <strong>{{ post.author | array_to_sentence_string }}</strong></td>
              {% for err in author_errors %}{{ errors | push: err }}{% endfor %}
            {% else %}
              <td class="is-success">All authors are defined in `_data/authors.yaml`: <strong>{{ post.author | array_to_sentence_string }}</strong></td>
            {% endif %}
          {% else %}
            <td class="is-danger is-italic">not specified</td>
            {{ errors | push: "Specify authors: `author: [author ids from _data/authors.yaml]`" }}
          {% endif %}
        </tr>
        {% if errors.size > 0 %}
          {% assign status = "Not Ready :(" %}
        {% endif %}
        <script>
          $(document).ready(function(){ 
            $('#{{ post_id }}_status').text('{{ status }}'); 
            $('#{{ post_id }}_toggle').click(function(){ 
              if ($('#{{ post_id }}_report').hasClass('is-hidden')) {
                $('#{{ post_id }}_toggle').text('hide report');
                $('#{{ post_id }}_report').removeClass('is-hidden');
              }
              else {
                $('#{{ post_id }}_toggle').text('view report');
                $('#{{ post_id }}_report').addClass('is-hidden');
              }
            });
          });
        </script>
      </tbody>
  </table> 
  {% if errors.size > 0 %}<tr><td colspan="2"><ul>{% for error in errors %}<li>{{error }}</li>{% endfor %}</ul>{% endif %}
  </div>
</div>
