.margin-top-2-important {
  margin-top: 2rem !important; 
}

.margin-bot-2-important {
  margin-bottom: 2rem !important; 
}


.image.is-256x256 {
    height: 256px;
    width: 256px; 
}

figure.post-image {
  float: right; 
}

figure.border {
  border: grey solid 2px; 
  margin: 5px
}

i.social-size-medium {
  font-size: 3em;
}

i.social-size-small {
  font-size: 2em;
}

a.no-hover-effect:hover {
  color: unset;
}

a.related-link {
  font-size: 1.5rem;
}


article p {
  margin-bottom: 1em; 
}

article svg.icon {
  height: unset; 
}
