html {
    font-size: 16px;
}

/* Make links in post text a color that pops */
#post-content a {
  color: #417eda; 
}

/* Fixes color in prenavbar of BCO-DMO title link */
.pre-navbar {
  background: #0E2D40; 
}
div.pre-navbar .columns .column.is-two-thirds {
  opacity: 0.5;
}
div.pre-navbar .columns .column.is-two-thirds a {
  color: #fff; 
}
/* END of fix */

.clear-all {
  clear: both;
}

.margin-top-2-important {
  margin-top: 2rem !important; 
}

.margin-bot-2-important {
  margin-bottom: 2rem !important; 
}


.image.is-256x256 {
    height: 256px;
    width: 256px; 
}

figure.post-image {
  float: right; 
}

.border-grey-1 {
  border: grey solid 1px; 
}

i.social-size-medium {
  font-size: 3em;
}

i.social-size-small {
  font-size: 2em;
}

a.no-hover-effect:hover {
  color: unset;
}

a.related-link {
  font-size: 1.5rem;
}


article p {
  margin-bottom: 1em; 
}

article svg.icon {
  height: min-content; 
}

.tag.is-accent {
  background-color: #96BBD1;  
}
.tag.is-accent a {
    color: #fff;
}
