<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="twitter:card" content="summary" />
    {% assign bcodmo = site.data.authors["bcodmo"] %}
    <meta name="twitter:site" content="@{{ bcodmo.social.twitter.id }}"/>
    <meta property="og:site_name" content="BCO-DMO Blog" />
    <meta property="og:type" content="article" />
    {% if page.description %}
      {% assign callout = page.description %}
    {% elsif page.excerpt %}
      {% assign callout = page.excerpt | strip_html %}
    {% else %}
      {% assign callout = null %}
    {% endif %}
    {% assign url = site.url | append: page.url %}
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if callout %}
      <meta name="description" content="{{ callout | strip }}"/>
      <meta property="og:description" content="{{ callout | strip }}" />
      <meta name="twitter:description" content="{{ callout | strip }}"/>
    {% endif %}
    {% if page.image %}
      {% capture image_url %}{% include image_src.html image=page.image %}{% endcapture %}
      <link rel="image_src" href="{{ image_url }}" />
      <meta property="og:image" content="{{ image_url }}" />
      <meta name="twitter:image" content="{{ image_url }}"/>
    {% endif %}
    {% unless page.collection == "drafts" %}
      {% include schema-org.html page=page %}
    {% endunless %}
    
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Bulma + BCO-DMO Core CSS -->
    <link href="/assets/css/bco-dmo.css" rel="stylesheet"/>
    <!-- Blog CSS -->
    <link href="/assets/css/blog.css" rel="stylesheet"/>
    <!-- FontAwesome -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- jQuery Version 1.11.1 -->
    <script src="/assets/vendor/jquery-3.4.1.min.js"></script>
  </head>
  <body>

    {% include header_nav.html %}
    <!-- Page Content -->
    <!-- Breadcrumbs -->
    <nav class="breadcrumb margin-bot-0" aria-label="breadcrumbs">
      <ul class="container">
        <li><a href="https://www.bco-dmo.org">Home</a></li>
        {% if page.type and page.type == "BlogPosting" %}
          <li><a href="{{ site.url }}">Blog</a></li>
          {% assign pages = site.pages | where: "id", page.category %}
          {% if pages %}
            {% for listing in pages %}
              <li><a href="{{ site.url }}{{ listing.url }}">{{ listing.title }}</a></li>
            {% endfor %}
          {% endif %}
          <li class="is-active"><a aria-current="page">{{ page.title }}</a></li>
        {% elsif page.type and page.type == "ItemList" %}
          <li><a href="{{ site.url }}">Blog</a></li>
          <li class="is-active"><a aria-current="page">{{ page.title }}</a></li>
        {% elsif page.type and page.type == "Blog" %}
          <li class="is-active"><a aria-current="page">Blog</a></li>
        {% else %}
          <li><a href="{{ site.url }}">Blog</a></li>
          <li class="is-active"><a aria-current="page">{{ page.title }}</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="container margin-top-2-important margin-bot-1">
      {{ content }}
    </div>
    
    {% include footer.html %}

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bco-dmo-components.js"></script>
    <script src="/assets/js/category-page.js"></script>
    <!-- Search -->
    <script src="/assets/js/simple-jekyll-search.min.js"></script>
    <script src="/assets/js/search.js"></script>
    
    {% if site.google_analytics %}
      <!-- Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    {% if page.js_includes %}
      {% for include in page.js_includes %}
        <script src="/assets/js/includes/{{ include }}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
