<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.description %}
      {% assign callout = page.description %}
    {% elsif page.excerpt %}
      {% assign callout = page.excerpt %}
    {% else %}
      {% assign callout = null %}
    {% endif %}
    {% if callout %}
    <meta name="description" content="{{ callout }}">
    {% endif %}
    {% assign author = site.data.authors[page.author] %}
    <meta name="author" content="{{ author.name }}">
    {% include schema-org.html page=page %}
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Bulma + BCO-DMO Core CSS -->
    <link href="/assets/css/bco-dmo.css" rel="stylesheet"/>
    <!-- FontAwesome -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>

    {% include header_nav.html %}
    <!-- Page Content -->
    <!-- Breadcrumbs -->
    <nav class="breadcrumb margin-bot-0" aria-label="breadcrumbs">
      <ul class="container">
        <li><a href="https://www.bco-dmo.org" aria-current="page">Home</a></li>
        <!-- Loop through any previous pages -->
        {% if page.type and page.type == "BlogPosting" %}
          <li><a href="{{ site.url }}" aria-current="page">Blog</a></li>
          {% if page.category %}
            <!-- Categorey: {{ page.category }} -->
            {% assign category = site.pages | where: "id", page.category %}
            <li><a href="{{ site.url }}{{ category.url }}" aria-current="page">{{ category.title }}</a></li>
          {% endif %}
          <li class="is-active"><a aria-current="page">{{ page.title }}</a></li>
        {% elsif page.type and page.type == "ItemList" %}
          <li><a href="{{ site.url }}" aria-current="page">Blog</a></li>
          <li class="is-active"><a aria-current="page">{{ page.title }}</a></li>
        {% elsif page.type and page.type == "Blog" %}
          <li class="is-active"><a aria-current="page">Blog</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="container margin-top-3 margin-bot-1">
      {{ content }}
    </div>
    
    {% include footer.html %}

    <!-- jQuery Version 1.11.1 -->
    <script src="/assets/vendor/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bco-dmo-components.js"></script>
    <script src="/assets/js/category-page.js"></script>
    
    {% if site.google_analytics %}
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    {% if page.js_includes %}
      {% for include in page.js_includes %}
        <script src="/assets/js/includes/{{ include }}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>
