---
layout: default
---
{% assign bcodmo = site.data.authors["bcodmo"] %}
{% assign url = site.url | append: page.url %}
{% capture excerpt %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}{% endcapture %}
{% assign excerpt_no_html = excerpt | strip_html %}
{% capture twitter_query %}via={{ bcodmo.social.twitter.id | uri_escape }}&url={{ url | uri_escape }}&text={{ excerpt_no_html | uri_escape }}{% endcapture %}
{% assign twitter_share = "https://twitter.com/intent/tweet?" | append: twitter_query %}
{% capture linkedin_query %}mini=true&url={{ url | uri_escape }}&title={{ page.title | uri_escape }}&summary={{ excerpt_no_html | uri_escape }}{% endcapture %}
{% assign linkedin_share = "https://www.linkedin.com/shareArticle?" | append: linkedin_query %}
{% assign email_subject = "BCO-DMO Blog: " | append: page.title %}
{% capture email_share %}mailto:?Subject={{ email_subject | uri_escape }}&Body={{ excerpt_no_html | uri_escape }}%0D%0A%0D%0A{{ url | uri_escape }}{% endcapture %}
<article class="content">
  <h5 class="subtitle is-6 margin-bot-1">{{ page.date | date_to_long_string }}</h5>
  <h1 class="title is-1 is-primary padding-bot-1 margin-bot-2-important">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h5 class="subtitle is-italic padding-bot-0 margin-bot-0">{{ page.subtitle }}</h5>
  {% endif %}
  <nav class="level margin-bot-0">
    <div class="level-left">
      <div class="level-item margin-right-0">by&nbsp;</div>
      <div class="level-item margin-left-0"><h6 class="title is-6 margin-top-0 margin-bot-0">{% include author_names.html authors=page.author %}</h6></div>
    </div>
    <div class="is-centered">
      <nav class="level is-mobile">
        <p class="level-item has-text-centered margin-left-1 margin-right-1"><a href="{{ twitter_share }}" target="_blank"><i class="fa fa-twitter social-size-small"></i></a></p>
        <p class="level-item has-text-centered margin-left-1 margin-right-1"><a href="{{ linkedin_share }}" target="_blank"><i class="fa fa-linkedin social-size-small"></i></a></p>
        <p class="level-item has-text-centered margin-left-1 margin-right-1 padding-top-1"><a href="{{ email_share }}"><i class="fa fa-envelope fa-3 social-size-small" aria-hidden="true"></i></a></p>
      </nav>
    </div>
    <div class="level-right">
      <p class="level-item">
        {% if page.tags %}
          <p class="margin-bot-1">
          {% for tag in page.tags %}
            {% include tag.html tag=tag %}
          {% endfor %}
          </p>
        {% endif %}
      </p>
    </div>
  </nav>
  <hr class="margin-top-0 margin-bot-1">
  <div id="post-content" class="columns">
    <div class="column">
      {% if page.image %}
        {% include image.html image=page.image position="right" %}
      {% endif %}

      <div class="margin-bot-3">
        {{ content }}
        {% if page.sameAs %}
          <div id="post-same-as" class="clear-all">
            <span class="is-italic">This blog post was also published at:
          {% for same in page.sameAs %}
            <a href="{{ same }}" target="_blank">{{ same }}</a>
          {% endfor %}
            </span>
          </div>
        {% endif %}
      </div>
      
      {% if page.relations %}
        <div id="post-related-links" class="clear-all">
        {% include post_relations.html relations=page.relations %}
        </div>
      {% endif %}
      
      <hr class="clear-all"/>
      <p class="margin-top-1 is-size-7 is-italic">Last modified: 
        {% if page.lastModified %}
          {{ page.lastModified | date: "%Y-%m-%d %H:%M:%S" }}
        {% else %}
          {{ page.date | date: "%Y-%m-%d %H:%M:%S" }}
        {% endif %}
      </p>
      
      {% unless site.comments == false or page.comments == false %}
        <h4 id="comments" class="title is-4 margin-top-3 margin-bot-0">Comments</h4>
        <script defer src="https://commento.bco-dmo.org/js/commento.js"></script>
        <div id="commento"></div>
        <style>
          .commento-root .commento-markdown-help tr td pre {
            display: contents;    
          }

          .commento-root .commento-footer {
            display: none;
          }
        </style>
      {% endunless %}
    </div>
  </div>
</article>
