---
layout: default
---
{% assign author = site.data.authors[page.author] %}
{% assign bocdmo = site.data.authors["bcodmo"] %}
{% assign url = site.url | append: page.url %}
{% capture twitter_query %}via={{ bcodmo.social.twitter.id | url_encode }}&url={{ url | url_encode }}&tweet={{ page.excerpt | url_encode }}{% endcapture %}
{% assign twitter_share = "https://twitter.com/intent/tweet?" | append: twitter_query %}
{% assign linkedin_share = "https://twitter.com/intent/tweet" %}
{% assign email_share = "https://twitter.com/intent/tweet" %}

<h5 class="subtitle is-6 margin-bot-1">{{ page.date | date_to_long_string }}</h5>
<h1 class="title is-1 is-primary padding-bot-1 margin-bot-2-important">{{ page.title }}</h1>
{% if page.subtitle %}
<h5 class="subtitle is-italic padding-bot-0 margin-bot-0">{{ page.subtitle }}</h5>
{% endif %}
<nav class="level margin-bot-0">
  <div class="level-left">
    <div class="level-item"><h5 class="title is-5 margin-top-0 margin-bot-0">{{ author.name }}</h5></div>
  </div>
  <div class="is-centered">
    <nav class="level is-mobile">
      <p class="level-item has-text-centered margin-left-1 margin-right-1"><a href="{{ twitter_share }}" target="_blank"><i class="fa fa-twitter social-size-medium"></i></a></p>
      <p class="level-item has-text-centered margin-left-1 margin-right-1"><a href="{{ linkedin_share }}" target="_blank"><i class="fa fa-linkedin social-size-medium"></i></a></p>
      <p class="level-item has-text-centered margin-left-1 margin-right-1"><a href="{{ email_share }}"><i class="fa fa-envelope fa-3 social-size-medium" aria-hidden="true"></i></a></p>
    </nav>
  </div>
  <div class="level-right">
    <p class="level-item">
      {% if page.tags %}
        <p class="margin-bot-1">
        {% for tag in page.tags %}
          {% include tag.html tag=tag %}
        {% endfor %}
        </p>
      {% endif %}
    </p>
  </div>
</nav>
<hr class="margin-top-0 margin-bot-1">
<div class="columns">
  <div class="column">
  {% if page.image %}
    {% include image.html image=page.image  %}
  {% endif %}
  {{ content }}
  
  {% if page.lastModified %}
    <p class="margin-top-3 is-size-7 is-italic">Last modified: {{ page.lastModified | date: "%Y-%m-%d %H:%M:%S" }}</p>
  {% else %}
    <p class="margin-top-3 is-size-7 is-italic">Last modified: {{ page.date | date: "%Y-%m-%d %H:%M:%S" }}</p>
  {% endif %}
  </div>
</div>
