---
layout: default
---

<h1 class="title is-1 is-primary padding-bot-1 margin-bot-2-important">{{ page.title }}</h1>
{% if page.subtitle %}
<h5 class="subtitle is-italic padding-bot-1">{{ page.subtitle }}</h5>
{% endif %}
{% assign author = site.data.authors[page.author] %}
<h5 class="title is-5 margin-top-1 margin-bot-0">{{ author.name }}</h5>
<p class="margin-bot-1">{{ page.date | date_to_string }}</p>
{% if page.keywords %}
<p class="margin-bot-1">
{% for tag in page.tags %}
  <span class="tag">{{ tag }}</span>
{% endfor %}
</p>
{% endif %}
<div class="columns">
  <div class="column">
  {{content}}
  
  {% if page.lastModified %}
    <p class="margin-top-3">Last modified: {{ page.lastModified }}</p>
  {% else %}
    <p class="margin-top-3">Last modified: {{ page.date }}</p>
  {% endif %}
  </div>
</div>
